/*SELETOR*/

div.char {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid purple;
}

div.char img {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
/* @keyframes quebrada {
    0% {margin-left: 0px;}
    100% {margin-left: 400px;}
  } */